@import url("components/about.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/contact.css");
@import url("components/navbar.css");
@import url("components/projects.css");
@import url("components/skills.css");

:root {
  font-size: 16px;
  --text-primary: #140044;
  --text-secondary: #fff;
  --bg-primary: #fff6f1;
  --bg-secondary: #b3624f;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  font-weight: 300;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* main {
  margin-left: 5rem;
  padding: 1rem; 
} */

.container {
  margin-left: 5rem;
}

section {
  padding: 3rem 0;
}

.section-titles {
  position: relative;
  text-align: center;
  color: white;
}

.section-titles img {
  width: 200px;
  opacity: 0.9;
}

.section-titles__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-grid img {
  display: block;
  width: 100%;
  padding: 50px;
}

.about-grid__text {
  padding: 50px;
}

@media only screen and (max-width: 600px) {
  .container {
    margin-left: 0px;
  }

  .shape-1 {
    display: none;
  }

  .shape-2 {
    position: relative;
    top: 0;
    left: 0;
  }

  .shape-3 {
    position: absolute;
  }

  .menu {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
}
