@import url("components/about.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/contact.css");
@import url("components/navbar.css");
@import url("components/projects.css");
@import url("components/skills.css");

@font-face {
  font-family: "selimaregular";
  src: url("../assets/fonts/selima_-webfont.woff2") format("woff2"),
    url("../assets/fonts/selima_-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 16px;
  --text-primary: #140044;
  --text-secondary: #fff;
  --bg-primary: #fff6f1;
  --bg-secondary: #e7c5ac;
  /* --navbar-primary: #435449;  */
  --navbar-primary: #333b36;
  --navbar-secondary: #e7c5ac;
  --transition-speed: 600ms;
}

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  /* font-family: "Josefin Sans", sans-serif; */
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  font-weight: 300;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

header {
  width: 100%;
  padding: 0;
  margin: 0;
}

section {
  padding: 3rem 0;
}

.section-titles {
  position: relative;
  text-align: center;
  font-family: "selimaregular";
  margin-bottom: 40px;
}

.section-titles img {
  width: 250px;
  opacity: 0.9;
}

.section-titles__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-titles__text h1 {
  font-size: 2.75rem;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .container {
    margin-left: 0px;
  }
}

@media only screen and (min-width: 1025px) {
  main {
    max-width: 90%;
    margin: 0 auto;
  }

  .container {
    margin-left: 5rem;
    padding: 40px;
  }
}
