@import url("components/about.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/contact.css");
@import url("components/navbar.css");
@import url("components/projects.css");
@import url("components/skills.css");

:root {
  font-size: 16px;
  --text-primary: #140044;
  --text-secondary: #fff;
  --bg-primary: #fff6f1;
  --bg-secondary: #b3624f;
  --navbar-primary: #435449;
  --navbar-secondary: #e7c5ac;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  font-weight: 300;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.container {
  margin-left: 5rem;
  /* padding: 100px 30px;
  width: 100%; */
  margin: 0 auto;
  max-width: 900px;
}

section {
  padding: 3rem 0;
}

.section-titles {
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .container {
    margin-left: 0px;
  }

  .shape-1 {
    display: none;
  }

  .shape-2 {
    position: relative;
    top: 0;
    left: 0;
  }

  .shape-3 {
    position: absolute;
  }

  .menu {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
}
