.shapes-hero {
  height: 80vh;
}

.shapes {
  /* position: relative; */
  overflow: hidden;
}

.shape-1 {
  position: relative;
  top: -110px;
  left: -90px;
  z-index: 1;
  width: 650px;
  transform: rotate(-5deg);
}

.shape-2 {
  position: absolute;
  top: -124px;
  left: 152px;
  width: 638px;
}

.shape-3 {
  position: absolute;
  top: -368px;
  right: -72px;
  z-index: 3;
  width: 650px;
}

.shape-4 {
  position: absolute;
  top: 29px;
  right: -43px;
  transform: rotate(-12deg);
}

.title {
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  top: -450px;
  position: relative;
  z-index: 1;
}

.title h1 {
  font-size: 60px;
}

.title p {
  font-size: 30px;
  padding: 12px;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 5rem;
  top: -190px;
  position: relative;
}

.menu-item {
  position: relative;
  text-align: center;
  color: white;
  font-size: 24px;
}

.menu-item img {
  width: 200px;
  opacity: 0.9;
}

.menu-titles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* text-transform: uppercase; */
}

.shape-about {
  transform: rotate(129deg);
}

.shape-projects {
  transform: rotate(60deg);
}

.shape-skills {
  transform: rotate(6deg);
}

.shape-contact {
  transform: rotate(10deg);
}

@media only screen and (max-width: 600px) {
  .shape-1,
  .shape-4 {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  .shape-4 {
    width: 500px;
  }
}

/* .banner {
  background-image: url("../img/banner.jpg");
  height: 100vh;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.9;
}
 
.banner a {
  position: absolute;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner-text h1 {
  font-size: 3rem;
} */
