.projects-multi,
.project {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.projects-multi {
  grid-template-columns: 1fr 2fr;
}

.project {
  grid-template-columns: 1fr 1fr;
}

.description {
  padding: 40px;
  align-self: center;
  text-align: center;
  justify-self: center;
}

.description h2 {
  padding-bottom: 16px;
}

.description p {
  line-height: 1.4;
}

.project-links {
  display: flex;
  justify-content: center;
}

.project-website,
.project-github {
  padding: 1rem;
}

.project-visual {
  place-self: center;
}

.project-visual__flex {
  display: flex;
  justify-self: center;
}

.project-img {
  transition: var(--transition-speed);
}

.project-img img {
  max-height: 400px;
  padding: 20px;
}

.project-img:hover {
  transform: scale(1.7);
}

.projects-multi .social,
.project .social {
  justify-content: center;
  margin-top: 0;
}

.projects-multi .social a,
.project .social a {
  font-size: 2rem;
  padding: 20px;
}

@media screen and (min-width: 1025px) {
  .projects-multi .description {
    width: 400px;
  }
}

@media screen and (max-width: 999px) {
  .projects-multi,
  .project {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 20px 0;
  }

  .project-img img {
    max-height: 400px;
    padding: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .project,
  .projects-multi {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .project-visual__flex {
    flex-direction: column;
  }

  .description {
    padding: 40px;
    text-align: center;
  }
}
