.icons-container {
  display: flex;
  flex-direction: column;
}

.icons,
.icons-learn {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}

.icons img,
.icons-learn img {
  width: 100px;
  padding: 10px;
}
